<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="background-color:gray;color:white;padding:20px;border-radius: 25px;">
    <h2>EUROPE 2021 </h2>
    <marquee width="100%" direction="left" height="100px" scrollamount="12">
        WELCOME TO ARS EXCHANGE   - TEST VERSION
    </marquee>
    <marquee width="100%" direction="left" height="100px">
        MONITOR HERE LIVE PRICE OF CRYPTO COINS   - TEST VERSION
    </marquee>

</div>
<br/>
<br/>
<br/>
<br/>
<form>
    Exchange Name :  <br/>
    <input type="text" name="tall1"/><br/>


<!--    Number Of Packet <br/>-->
<!--    <input type="text" name="tall4"/><br/>-->


    <br/>
    <input type="radio" name="mathType" value="pluss"/> Get Price<br/>
    <br/>



    <input type="submit" value="Show Pirce"/>
    <div>
        <p th:text="${svar}"></p>
    </div>



</form>

</body>
</html>